body {
  font-family: Arial;
  background: #f4f4f4;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.form-container {
  background: white;
  width: 300px;
  height: 300px;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  background-color: lightblue;
}
h2{
    text-align: center;
    color: blue;
}

input{
  padding: 10px;
  margin: 10px 0;
  width: 250px;
}
.btn{
    width: 275px;
    padding: 10px;
    background-color:blue;
    color: white;
    border: none;
    margin-top: 30px;
}
.btn:hover{
    background-color: lightskyblue;
    color: black;
}
